[submodule "runner/TiddlyWiki5"]
	path = TiddlyWiki5
	url = https://github.com/Jermolene/TiddlyWiki5.git
[submodule "TW5-TiddlyMap"]
	path = TW5-TiddlyMap
	url = https://github.com/korsimoro/TW5-TiddlyMap
