[submodule "runner/TiddlyWiki5"]
	path = runner/TiddlyWiki5
	url = https://github.com/Jermolene/TiddlyWiki5.git
[submodule "runner/TW5-TiddlyMap"]
	path = runner/TW5-TiddlyMap
	url = git://github.com/felixhayashi/TW5-TiddlyMap.git
